@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.PriceGold.EditProcessPriceModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Chỉnh sửa thông tin giá thi công  </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @*Thêm*@
                </ol>
            </nav>
        </div>
        <div class="row">
            <!-- Basic form -->
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">CẬP NHẬT GIÁ THI CÔNG</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="ProcessPrice.ProcessPrice1" class="control-label">Nhập Giá</label>
                                <input asp-for="ProcessPrice.ProcessPrice1" class="form-control" placeholder="Tên" />
                                <span asp-validation-for="ProcessPrice.ProcessPrice1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProcessPrice.Size" class="control-label">Kích Thước(mm)</label>
                                <input asp-for="ProcessPrice.Size" class="form-control" placeholder="Nhập kích thước trang sức" />
                                <span asp-validation-for="ProcessPrice.Size" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProcessPrice.Description" class="control-label">Mô Tả</label>
                                <input asp-for="ProcessPrice.Description" class="form-control" placeholder="Nhập mô tả, thông tin trang sức" />
                                <span asp-validation-for="ProcessPrice.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProcessPrice.CategoryId" class="control-label">Loại Sản Phẩm </label>
                                <input asp-for="ProcessPrice.CategoryId" class="form-control" placeholder="Nhập Id" />
                                <span asp-validation-for="ProcessPrice.CategoryId" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="ProcessPrice.UpsDate" class="control-label">Ngày Cập Nhật</label>
                                <input asp-for="ProcessPrice.UpsDate" class="form-control" readonly />
                                <span asp-validation-for="ProcessPrice.UpsDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProcessPrice.Status" class="control-label">Trạng thái</label>
                                <select asp-for="ProcessPrice.Status" class="form-control">
                                    <option value="true" selected="@((Model.ProcessPrice.Status == true).ToString().ToLower())">Hoạt động</option>
                                    <option value="false" selected="@((Model.ProcessPrice.Status == false).ToString().ToLower())">Ngừng hoạt động</option>
                                </select>
                                <span asp-validation-for="ProcessPrice.Status" class="text-danger"></span>
                            </div>


                            <button type="submit" class="btn btn-gradient-primary me-2">Cập Nhật</button>
                            <a asp-page="./ProcessPrice" class="btn btn-gradient-light btn-fw">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>