@**@
@{
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/../assets/images/faces/face1.jpg" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Nguyễn Văn Anh</span>
                    <span class="text-secondary text-small">Quản lí</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Admin/Statics/Dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
               aria-controls="ui-basic">
                <span class="menu-title">Nhân viên</span>
                <i class="menu-arrow"></i>
                <i class="fa fa-users menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Employee/ListEmployee">Hồ sơ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/dropdowns.html">Thêm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Thêm</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Manager/Memberships/ListMembership">
                <span class="menu-title">Thành viên</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <span class="menu-title">Chíết khấu</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Manager/Products/ListProduct">
                <span class="menu-title">Sản phẩm</span>
                <i class="fa fa-cubes menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Staff/Orders/CreateOrder">
                <span class="menu-title">Đơn hàng</span>
                <i class="fa fa-truck menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/Manager/Promotions/ListPromotion">
                <span class="menu-title">Khuyến mãi</span>
                <i class="fa fa-tags menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Thanh toán</span>
                <i class="fa fa-money menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Manager/Warranty/ListWarranty">
                <span class="menu-title">Bảo hành</span>
                <i class="fa fa-money menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>