@model IList<JewelrySalesSystem_NoName_FE.DTOs.Promotions.PromotionDTO>

<div class="card mb-5">
    @foreach (var promotion in Model)
    {
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/512/2689/2689901.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@promotion.PromotionName</h5>
                    <p class="card-text">@promotion.Description</p>
                    <p class="card-text"><small class="text-muted">@promotion.StartDate</small></p>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3" style="padding-right: 1rem;">
                <button class="btn btn-primary" type="button" onclick="applyPromotion(@promotion.Id)">Áp dụng</button>
            </div>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function applyPromotion(promotionId) {
        $.ajax({
            type: "POST",
            url: "/CreateOrder",
            data: { promotionId: promotionId },
            success: function (response) {
                // Xử lý phản hồi từ máy chủ sau khi gửi thành công
                console.log("Promotion applied successfully:", response);
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.error("Error applying promotion:", error);
            }
        });
    }
</script>