@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Orders.AddOrderModel
@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()

<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Tạo đơn hàng - Bước 1 </h3>
            </div>
            <div class="row">
                <!-- Left side: Product list -->
                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Trang sức<span class="required">*</span></h4>
                            <div class="form-group row">
                                <div class="col-sm-7">
                                    <input type="text" id="productCode" class="form-control" placeholder="Nhập mã sản phẩm">
                                </div>
                                <div class="col-sm-5">
                                    <button id="addProductBtn" class="btn btn-primary">Thêm sản phẩm</button>
                                </div>
                            </div>
                            <div class="container">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="productTableBody">
                                        <!-- Các sản phẩm sẽ được thêm vào đây -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right side: Customer and Order details -->
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Thông tin khách hàng</h4>
                            @* Hiển thị lỗi *@
                            <div id="message-container"></div>
                            <div class="form-group">
                                <label>Số điện thoại<span class="required">*</span></label>
                                <input type="text" id="customerPhone" name="phone" class="form-control" placeholder="Nhập số điện thoại" value="@TempData["Phone"]">
                            </div>
                             <div class="form-group">
                                <label>Tên khách hàng</label>
                                <input type="text" id="customerName" name="fullName" class="form-control" placeholder="Nhập tên khách hàng">
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button type="button" name="action" value="create" id="createMemberBtn" class="btn btn-secondary mt-0 btn-block text-center" hidden>
                                    Tạo thành viên mới
                                    </button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="button" name="action" value="search" id="searchCustomerBtn" class="btn btn-primary mt-0 btn-block text-center">Tìm kiếm</button>
                                </div>
                            </div>
                            <h4 class="card-title mt-4">Tổng tiền: <span id="totalPrice">0</span></h4>
                            <h4 class="card-title">Khuyến mãi giảm: <span id="totalDiscount">0</span></h4>
                            <h4 class="card-title">Tổng tiền cần thanh toán (tạm tính): <span id="totalPayable">0</span></h4>
                            @* <div class="form-group">
                                <h4 for="paymentMethod">Phương thức thanh toán</h4>
                                <div class="select-wrapper">
                                    <select class="form-control" id="paymentMethod" style="height: 2.5rem;">
                                        <option value="" disabled selected>Chọn phương thức thanh toán</option>
                                        <option value="transfer">Chuyển khoản</option>
                                        <option value="cash">Thanh toán bằng tiền mặt</option>
                                    </select>
                                </div>
                            </div> *@
                           <div class="container">
                                <div class="row">
                                    <input type="hidden" id="requestVerificationToken" value="">
                                    <button id="createOrderBtn" class="btn btn-success" style="white-space: nowrap;">Tạo hóa đơn</button>
                                    <div class="form-group"></div>
                                    <button id="cancelButton" class="btn btn-gradient-secondary">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Khuyến mãi -->
    <div class="modal fade" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="promotionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="promotionModalLabel">Chọn Khuyến mãi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="promotionForm">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="clearPromotionBtn">Bỏ chọn</button>
                    <button type="button" class="btn btn-primary" id="confirmPromotionBtn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Popup -->
    <div class="modal fade" id="outOfStockModal" tabindex="-1" aria-labelledby="outOfStockModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="outOfStockModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <i class="fa fa-times-circle-o" style="color: red; font-size: 50px; margin-right: 10px;"></i>
                    <h3>Sản phẩm tạm thời hết hàng</h3>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button> *@
                </div>
            </div>
        </div>
    </div

      <!-- Modal Popup -->
    <div class="modal fade" id="noPromotionModal" tabindex="-1" aria-labelledby="noPromotionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noPromotionModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <i class="fa fa-times-circle-o" style="color: red; font-size: 50px; margin-right: 10px;"></i>
                    <h3>Sản phẩm này không có khuyến mãi</h3>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button> *@
                </div>
            </div>
        </div>
    </div

     <!-- Modal Popup Not Found Product -->
    <div class="modal fade" id="notFoundModal" tabindex="-1" aria-labelledby="notFoundModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notFoundModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <i class="fa fa-times-circle-o" style="color: red; font-size: 50px; margin-right: 10px;"></i>
                    <h3>Không tìm thấy sản phẩm này</h3>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button> *@
                </div>
            </div>
        </div>
    </div>

  <!-- Modal Discount -->
<div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalLabel">Discount Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="discountFormContent">
                <!-- Nội dung form sẽ được load vào đây -->
            </div>
        </div>
    </div>
</div>


</body>

@section Scripts {
    <script>
        $(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
                $('#requestVerificationToken').val(token);
             });

        document.getElementById('cancelButton').addEventListener('click', function () {
            // Tải lại trang
            window.location.reload();
        });

        $(document).ready(function () {
            const token = $('#requestVerificationToken').val();
            console.log("Token: ", token);

            let totalPrice = 0;
            let totalDiscount = 0;
            let listPromotions = [];
            let selectedPromotions = {};

            $('#searchCustomerBtn').click(function () {
                handleCustomerAction('search');
            });

            $('#createMemberBtn').click(function () {
                handleCustomerAction('create');
            });

            //Search Customer
            function handleCustomerAction(action) {
            var phone = $('#customerPhone').val();
            var fullName = $('#customerName').val();
                console.log("Phone:", phone);
                  console.log("Fullname: ", fullName);
            $.ajax({
                url: '/Staff/Orders/AddOrder?handler=HandleCustomer',
                type: 'GET',
                data: { phone: phone, fullName: fullName, action: action },
                success: function (response) {
                var messageContainer = $('#message-container');
                if (response.success) {
                    // Xử lý khi thành công
                    $('#customerName').val(response.name);
                    messageContainer.removeClass('error').addClass('success').html('<span>' + response.message + '</span>');
                    $('#createMemberBtn').prop('hidden', true);
                } else {
                    // Xử lý khi không thành công
                    messageContainer.removeClass('success').addClass('error').html('<span>' + response.message + '</span>');
                     $('#createMemberBtn').prop('hidden', !response.showCreateButton);
                  }
                },
                error: function () {
                    // Xử lý lỗi
                    alert('Đã xảy ra lỗi khi xử lý yêu cầu.');
                }
            });
            }

            function formatCurrency(amount) {
                // Chuyển đổi số thành chuỗi và sử dụng regex để thêm dấu phân cách hàng nghìn
                var formattedAmount = amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                // Thêm đơn vị tiền tệ "đ"
                formattedAmount += "đ";
                return formattedAmount;
            }

            $('#addProductBtn').click(function () {
                var productCode = $('#productCode').val().trim();

                $.ajax({
                    url: '/Staff/Orders/AddOrder?handler=Product',
                    type: 'GET',
                    data: { productCode: productCode },
                    success: function (data) {
                        console.log("Product load from addProduct: ", data);
                        console.log("Quantity product: ", data.product.quantity);
                        listPromotions = data.promotions;
                        if (data && data.product) {
                            if (data.product.quantity == 0) {
                                // Hiển thị modal popup
                                $('#outOfStockModal').modal('show');
                            } else if (data.product.quantity == null) {
                                $('#notFoundModal').modal('show');
                            }
                            else {
                                var productRow = `
                                                         <tr data-product-id="${data.product.id}" data-product-code="${data.product.code}">
                                                            <td colspan="6" class="text-center" style="color: #a64dff; font-weight: bold;">Số lượng còn lại trong kho: ${data.product.quantity}</td>
                                                        </tr>
                                                        <tr class="product-item" data-product-id="${data.product.id}" data-product-code="${data.product.code}">
                                                            <td>${data.product.code}</td>
                                                            <td>${data.product.productName}</td>
                                                            <td>${data.product.sellingPrice}</td>
                                                            <td>
                                                                <input type="number" class="form-control quantity-input" value="1" min="1" max="${data.product.quantity}">
                                                            </td>
                                                             <td>
                                                                <button type="button" class="btn btn-warning promotion-btn btn-sm" data-product-code="${data.product.code}">
                                                                    Chọn khuyến mãi
                                                                </button>
                                                                <div class="promotion-info" style="display:none;">
                                                                    <strong style="color: green">Đã chọn khuyến mãi: </strong> <span class="promotion-amount"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                        <button type="button" class="btn btn-danger remove-product-btn btn-sm">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    `;
                                $('#productTableBody').append(productRow);
                                $('#productCode').val('');
                                updateTotalPrice();

                                // Thêm sự kiện kiểm tra số lượng nhập vào
                                $('.quantity-input').on('change', function () {
                                    var maxQuantity = parseInt($(this).attr('max'));
                                    var currentQuantity = parseInt($(this).val());
                                    if (currentQuantity > maxQuantity) {
                                        $(this).val(maxQuantity);
                                        alert('Số lượng nhập vào vượt quá số lượng còn lại trong kho.');
                                    }
                                    updateTotalPrice();
                                });
                            }
                        } else {
                            alert('Không tìm thấy sản phẩm');
                        }
                    },
                    error: function () {
                        alert('Không tìm thấy sản phẩm');
                    }
                });
            });

            // Xử lý sự kiện xóa sản phẩm
            $('#productTableBody').on('click', '.remove-product-btn', function () {
                // Xóa hàng chứa sản phẩm
                $(this).closest('tr').remove();

                // Xóa dòng "Số lượng còn lại trong kho" nếu tồn tại
                var productId = $(this).closest('tr').data('product-id');
                $('#productTableBody tr[data-product-id="' + productId + '"]').each(function () {
                    if ($(this).find('.text-center').length > 0) {
                        $(this).remove();
                    }
                });
                var productCode = $(this).closest('tr').data('product-code');
                // Xóa sản phẩm khỏi khuyến mãi đã chọn
                delete selectedPromotions[productCode];

                // Cập nhật tổng số tiền giảm giá
                var totalDiscount = 0;
                $('#productTableBody .product-discount').each(function () {
                    totalDiscount += parseFloat($(this).text().replace(/\D/g, '')) || 0;
                });
                $('#totalDiscount').text(totalDiscount.toLocaleString() + ' Đ');
                updateTotalPrice();
            });

            // Hàm tính tổng giá tiền (cần định nghĩa)
            function updateTotalPrice() {
                var total = 0;
                $('#productTableBody .quantity-input').each(function () {
                    var quantity = $(this).val();
                    var price = $(this).closest('tr').find('td:nth-child(3)').text();
                    total += quantity * price;
                });
                $('#totalPrice').text(total.toLocaleString() + ' Đ');

                var totalDiscount = parseFloat($('#totalDiscount').text().replace(/\D/g, '')) || 0;
                var totalPayable = total - totalDiscount;
                $('#totalPayable').text(totalPayable.toLocaleString() + ' đ');
            }

            //Khuyến mãi
            function applyPromotion(promotionId, productCode) {
                console.log("applyPromotion: ", promotionId);

                if (promotionId === null || promotionId === undefined) {
                    console.log('Khuyến mãi được bỏ chọn');
        
                // Find the product item with the matching product code
                    var productItem = $('#productTableBody .product-item').filter(function () {
                        return $(this).data('product-code') === productCode;
                    });

                    if (productItem.length > 0) {
                        var oldDiscountAmount = productItem.data('promotion-amount') || 0;
                        var initialPrice = parseFloat(productItem.find('td:eq(2)').text().trim()); // Store initial price

                        // Remove promotion info
                        productItem.find('.promotion-info').hide();
                        productItem.data('promotion-amount', null);

                        // Restore initial price for the product
                        productItem.find('.product-price').text(initialPrice.toLocaleString() + ' đ');

                        // Calculate total discount without this product
                        var totalDiscount = 0;
                        $('#productTableBody .product-item').each(function () {
                            var discount = $(this).data('promotion-amount') || 0;
                            if ($(this).data('product-code') !== productCode) {
                                totalDiscount += discount;
                            }
                        });

                        // Update total discount and total price
                        $('#totalDiscount').text(totalDiscount.toLocaleString() + ' đ');
                        updateTotalPrice();
                        } else {
                            console.log('Không tìm thấy sản phẩm với mã: ', productCode);
                        }
                    return;
                 }

                selectedPromotions[productCode] = promotionId;
                var promotion = listPromotions.find(function (promo) {
                    return promo.id === promotionId;
                });

                if (promotion) {
                    console.log("Promotion found: ", promotion);

                    // Verify the structure of the product item and log details
                    $('#productTableBody .product-item').each(function () {
                        var code = $(this).data('product-code');
                        console.log('Product item data-product-code:', code);

                        // Check if the attribute is present
                        if (!code) {
                            console.warn('Missing data-product-code on product item:', this);
                        }
                    });

                    // Find the product item with the matching product code
                    var productItem = $('#productTableBody .product-item').filter(function () {
                        return $(this).data('product-code') === productCode;
                    });

                    console.log("Product Item: ", productItem);

                    if (productItem.length > 0) {
                        // Correctly retrieve price and quantity
                        var price = parseFloat(productItem.find('td:eq(2)').text().trim()); // Assuming sellingPrice is in the third <td>
                        var quantity = parseInt(productItem.find('.quantity-input').val());
                        var discountAmount = price * quantity * (promotion.percentage / 100);  // Correcting discount calculation

                        // Update promotion info for the product
                        productItem.find('.promotion-info').show().find('.promotion-amount').text(discountAmount.toLocaleString() + "đ");
                        productItem.data('promotion-amount', discountAmount);

                        // Calculate total discount
                        var totalDiscount = 0;
                        $('#productTableBody .product-item').each(function () {
                            var discount = $(this).data('promotion-amount') || 0;
                            totalDiscount += discount;
                        });

                        // Update total discount and total price
                        $('#totalDiscount').text(totalDiscount.toLocaleString() + ' đ');
                        updateTotalPrice();
                    } else {
                        console.log('Không tìm thấy sản phẩm với mã: ', productCode);
                    }
                } else {
                    console.log('Khuyến mãi không tồn tại');
                }
            }

            // Sự kiện khi chọn khuyến mãi
            $('#promotionForm').on('change', 'input[name="promotion"]', function () {
                var selectedPromotionId = $(this).val();
                var productCode = $(this).closest('.product-item').data('product-code');
                if (selectedPromotionId && productCode) {
                    applyPromotion(selectedPromotionId, productCode);
                } else {
                    console.log("Không có khuyến mãi nào được chọn.", selectedPromotionId);
                }
            });

            function formatDate(dateString) {
                var date = new Date(dateString);
                var day = ("0" + date.getDate()).slice(-2);
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var year = date.getFullYear();
                return day + "/" + month + "/" + year;
            }

            // Sự kiện khi chọn khuyến mãi
            $(document).on('change', '#promotionForm input[name="promotion"]', function () {
                let selectedPromotionId = $(this).val();
                let productCode = $(this).closest('.product-item').data('product-code');
                if (selectedPromotionId && productCode) {
                    applyPromotion(selectedPromotionId, productCode);
                } else {
                    console.log("Không có khuyến mãi nào được chọn.", selectedPromotionId);
                }
            });

            // Hàm gọi API và cập nhật modal khuyến mãi
            function loadPromotions(productCode) {
                console.log("Product Code: ", productCode);
                $.ajax({
                    url: '/Staff/Orders/AddOrder?handler=Product',
                    type: 'GET',
                    data: { productCode: productCode },
                    success: function (data) {
                        if (data && data.promotions) {
                            if (data.promotions <= 1) {
                                // Hiển thị modal popup
                                $('#noPromotionModal').modal('show');
                            } else {
                                console.log("Data success: ", data.promotions[0].id);
                                var promotionsHtml = '';
                                data.promotions.forEach(function (promotion) {
                                    var isChecked = selectedPromotions[productCode] === promotion.id ? 'checked' : '';
                                    promotionsHtml += `
                                                    <div class="product-item card shadow-sm mb-3" data-product-code="${productCode}">
                                                        <div class="card-body row">
                                                            <div class="col-md-2">
                                                                <input class="form-check-input form-check-input-lg" type="radio" name="promotion" value="${promotion.id}" ${isChecked}>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <label class="form-check-label ms-2"><h4>${promotion.promotionName}</h4></label>
                                                                <label class="form-check-label">Bắt đầu: ${formatDate(promotion.startDate)}</label>
                                                                <br>
                                                                <label class="form-check-label">Kết thúc: ${formatDate(promotion.endDate)}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `;
                                });
                                $('#promotionForm').html(promotionsHtml);
                                $('#promotionModal').modal('show');
                            }
                        } else {
                            $('#promotionForm').html('<p>Không có khuyến mãi nào.</p>');
                        }
                    },
                    error: function () {
                        alert('Không thể tải khuyến mãi');
                    }
                });
            }

            // Sự kiện khi nhấn nút "Chọn khuyến mãi"
            $('#productTableBody').on('click', '.promotion-btn', function () {
                let productCode = $(this).data('product-code');
                loadPromotions(productCode);
            });

            $('#savePromotionBtn').click(function () {
                var selectedPromotionId = $('#promotionForm input[name="promotion"]:checked').val();
                var productCode = $('#promotionModal').data('product-code');

                if (selectedPromotionId && productCode) {
                    applyPromotion(selectedPromotionId, productCode);
                    $('#promotionModal').modal('hide');
                } else {
                    alert("Vui lòng chọn một khuyến mãi.");
                }
            });

            // //Event handler for clear selection button click
           $('#clearPromotionBtn').click(function () {
                // Loop through each product item in #productTableBody
                $('#productTableBody .product-item').each(function () {
                    var productCode = $(this).data('product-code');
                    console.log("Bỏ chọn sản phẩm: ", productCode);

                // Check if productCode is valid
                if (productCode) {
                // Uncheck all radio buttons (if applicable)
                    $('input[name="promotion"]').prop('checked', false);

                // Remove selected promotion
                    delete selectedPromotions[productCode];

                // Apply promotion with null promotionId
                    applyPromotion(null, productCode);
                } else {
                    console.log('Không có mã sản phẩm để bỏ chọn khuyến mãi');
                }
             });
         });

            // // Xác nhận khuyến mãi
            $('#confirmPromotionBtn').click(function () {
                // Lấy ID của promotion được chọn
                var selectedPromotionId = $('input[name="promotion"]:checked').val();
                var productCode = $('input[name="promotion"]:checked').closest('.product-item').data('product-code');
                // Xử lý ID theo nhu cầu của bạn, ví dụ:
                console.log("ID của promotion được chọn:", selectedPromotionId, "Product Code:", productCode);
                if (selectedPromotionId && productCode) {
                    applyPromotion(selectedPromotionId, productCode);
                }
                // Sau khi xử lý xong, đóng modal
                $('#promotionModal').modal('hide');
            });

            // Lấy promotionId từ promotionForm
            function getPromotionId() {
                // Giả sử promotionId nằm trong thẻ input ẩn có id là #promotionId
                promotionId = $('#promotionId').val();
            }

            // Tạo hóa đơn
            $('#createOrderBtn').click(function () {
                getPromotionId();  // Lấy promotionId khi tạo hóa đơn

                const productDetails = [];
                $('#productTableBody .product-item').each(function () {
                     var promotionId = selectedPromotions[$(this).data('product-code')] || null;
                    const productId = $(this).data('product-id');
                    const quantity = parseInt($(this).find('.quantity-input').val());
                    const amount = parseFloat($(this).find('td').eq(2).text()) * quantity;
                    productDetails.push({ productId: productId, quantity: quantity, amount: amount, promotionId: promotionId });
                });
                const totalPrice = parseFloat($('#totalPrice').text().replace(/\D/g, ''));
                const totalDiscount = parseFloat($('#totalDiscount').text().replace(/\D/g, ''));
                const totalPayable = totalPrice - totalDiscount;

                console.log("Product details:", productDetails);
                console.log("Tổng tiền cần thanh toán: ", totalPayable);
                const orderData = {
                    customerPhone: $('#customerPhone').val(),
                    discountId: null,
                    totalPrice: totalPayable,
                    // totalPrice: totalPrice - totalDiscount,
                    materialProcessPrice: 0,
                    details: productDetails
                };
                console.log("Order data: ", JSON.stringify(orderData));
                  // Lấy giá trị RequestVerificationToken
                const token = $('input[name="__RequestVerificationToken"]').val();
                 $.ajax({
                        url: '/Staff/Orders/AddOrder?handler=CreateInvoice',
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(orderData),
                        // data: orderData.serialize(),
                        headers: {
                            'RequestVerificationToken': token
                        },
                        success: function (response) {
                            if (response.redirectUrl) {
                                window.location.href = response.redirectUrl;
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error Status:', textStatus);
                            console.error('Error Thrown:', errorThrown);
                            console.error('Error Response:', jqXHR.responseText);
                            alert('Đã xảy ra lỗi khi tạo hóa đơn: ' + jqXHR.responseText);
                        }
                });
            });

           $('#discountModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var modal = $(this);
            var orderId = button.data('order-id');
            var managerId = button.data('manager-id');

            $.ajax({
                url: '@Url.Page("DiscountForm")', // Đường dẫn đến Razor Page Partial
                type: 'GET',
                data: {
                    orderId: orderId,
                    managerId: managerId
                },
                success: function(result) {
                    modal.find('#discountFormContent').html(result);
                }
            });
        });
        });
    </script>
}
<style>
    #message-container {
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.required {
    color: red;
}
</style>