@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Orders.DiscountFormModel
@{
    Layout = null;
}

@{
    var discountRequest = Model.DiscountRequest;
}

<form method="post" asp-page-handler="SaveDiscount">
    <div class="form-group">
        <label asp-for="DiscountRequest.OrderId"></label>
        <input asp-for="DiscountRequest.OrderId" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="DiscountRequest.ManagerId"></label>
        <input asp-for="DiscountRequest.ManagerId" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="DiscountRequest.PercentDiscount"></label>
        <input asp-for="DiscountRequest.PercentDiscount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DiscountRequest.Description"></label>
        <input asp-for="DiscountRequest.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DiscountRequest.ConditionDiscount"></label>
        <input asp-for="DiscountRequest.ConditionDiscount" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>