@* @page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Orders.OrderBillModel
@{
}
<div class="container mt-5">
    <div class="card mx-auto shadow-lg" style="max-width: 50%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4" style="font-size: 2rem;">Chi tiết hóa đơn</h2>
            <div class="mb-3">
                <h3>Thông tin khách hàng</h3>
                <p>Khách hàng: Khach hang 1</p>
                <p>Số điện thoại: 0123456789</p>
            </div>

            <div class="mb-3">
                <h3>Chi tiết đơn hàng</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nhẫn bạc PNJ</td>
                            <td>1</td>
                            <td>30.000.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-3">
                <h3>Tổng tiền thanh toán: 30.000.000</h3>
            </div>

            <div class="d-flex justify-content-between">
                <form method="post" class="mr-1">
                    <button type="submit" class="btn btn-gray" asp-page-handler="Edit">Chỉnh sửa</button>
                </form>
                <form method="post">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Complete">Hoàn tất</button>
                </form>
            </div>
        </div>
    </div>
</div> *@

@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Orders.OrderBillModel
@{
}
<div class="col-md-4 autocomplete">
    <label for="searchCode" class="form-label">Nhập mã code của trang sức cần tìm</label>
    <input type="text" id="searchCode" name="searchCode" class="form-control" placeholder="Nhập mã code của trang sức cần tìm" autocomplete="off"
           onkeyup="autocompleteSearch(this.value)" value="@Model.SearchCode" />
    <div id="autocomplete-list" class="autocomplete-items"></div>
</div>

<div id="autocomplete-list" class="col-lg-12 grid-margin stretch-card"></div>


@section Scripts {
    <script>
        function autocompleteSearch(query) {
            console.log(query);
            if (query.length == 0) {
                document.getElementById("autocomplete-list").innerHTML = "";
                return;
            }

            fetch(`https://localhost:44318/api/v1/Product/autocomplete?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Data: ", data);
                    let autocompleteList = document.getElementById("autocomplete-list");
                    autocompleteList.innerHTML = "";

                    data['$values'].forEach(item => {
                        console.log("Item", item);
                        let suggestionItem = document.createElement("div");
                        suggestionItem.classList.add("autocomplete-item");

                        suggestionItem.innerHTML = `
                                            <img class="product-image-search" src="${item.imgProduct}" alt="Product image">
                                            <div class="product-details-search">
                                                <h5 class="product-name-search">${item.productName}</h5>
                                                <p class="product-code-search">Code: <strong>${item.code}</strong></p>
                                            </div>`;

                        suggestionItem.onclick = function () {
                            document.getElementById("searchCode").value = item.code;
                            autocompleteList.innerHTML = "";
                        };

                        autocompleteList.appendChild(suggestionItem);
                    });
                })
                .catch(error => console.error('Error fetching autocomplete data:', error));
        }
    </script>
}