@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Menu.MenuModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Giá Kim Cương 3LY6 </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th> 3.6 mm </th>
                                        <th>IF </th>
                                        <th>VVS1</th>
                                        <th>VVS2 </th>
                                        <th>VS1 </th>
                                        <th>VS2 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> D </td>
                                        <td>15,500,000 </td>
                                        <td>13,900,000 </td>
                                        <td> 12,900,000 </td>
                                        <td>11,000,000 </td>
                                        <td>10,500,000 </td>
                                    </tr>
                                    <tr>
                                        <td> E </td>
                                        <td>14,500,000</td>
                                        <td>14,500,000 </td>
                                        <td> 12,400,000 </td>
                                        <td>10,500,000 </td>
                                        <td>10,100,000 </td>
                                    </tr>
                                    <tr>
                                        <td> F </td>
                                        <td>13,900,000 </td>
                                        <td>13,400,000 </td>
                                        <td> 11,600,000 </td>
                                        <td>10,100,000 </td>
                                        <td> 9,500,000 </td>
                                    </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Giá Kim Cương 4LY5 </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead >
                                    <tr>

                                        <th> 3.6 mm </th>
                                        <th>IF </th>
                                        <th>VVS1</th>
                                        <th>VVS2 </th>
                                        <th>VS1 </th>
                                        <th>VS2 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> D </td>
                                        <td>15,500,000 </td>
                                        <td>13,900,000 </td>
                                        <td> 12,900,000 </td>
                                        <td>11,000,000 </td>
                                        <td>10,500,000 </td>
                                    </tr>
                                    <tr>
                                        <td> E </td>
                                        <td>14,500,000</td>
                                        <td>14,500,000 </td>
                                        <td> 12,400,000 </td>
                                        <td>10,500,000 </td>
                                        <td>10,100,000 </td>
                                    </tr>
                                    <tr>
                                        <td> F </td>
                                        <td>13,900,000 </td>
                                        <td>13,400,000 </td>
                                        <td> 11,600,000 </td>
                                        <td>10,100,000 </td>
                                        <td> 9,500,000 </td>
                                    </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Giá Kim Cương 4LY5 </h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th> 3.6 mm </th>
                                            <th>IF </th>
                                            <th>VVS1</th>
                                            <th>VVS2 </th>
                                            <th>VS1 </th>
                                            <th>VS2 </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> D </td>
                                            <td>15,500,000 </td>
                                            <td>13,900,000 </td>
                                            <td> 12,900,000 </td>
                                            <td>11,000,000 </td>
                                            <td>10,500,000 </td>
                                        </tr>
                                        <tr>
                                            <td> E </td>
                                            <td>14,500,000</td>
                                            <td>14,500,000 </td>
                                            <td> 12,400,000 </td>
                                            <td>10,500,000 </td>
                                            <td>10,100,000 </td>
                                        </tr>
                                        <tr>
                                            <td> F </td>
                                            <td>13,900,000 </td>
                                            <td>13,400,000 </td>
                                            <td> 11,600,000 </td>
                                            <td>10,100,000 </td>
                                            <td> 9,500,000 </td>
                                        </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>