@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Products.AddSubProductModel
@{
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Thêm Sản Phẩm Con</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            @*     <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="./ListSubProduct">Danh sách sản phẩm con</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm sản phẩm con</li> *@
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin sản phẩm con</h4>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Product.Code" class="control-label">Mã Sản Phẩm</label>
                                    <input asp-for="Product.Code" class="form-control" placeholder="Theo mẫu (XXXX0000)"  />
                                    <span asp-validation-for="Product.Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.ProductName" class="control-label">Tên Sản Phẩm</label>
                                    <input asp-for="Product.ProductName" class="form-control" placeholder="Nhập tên sản phẩm" />
                                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                </div>
                            
                                <div class="form-group">
                                    <label asp-for="Product.Description" class="control-label">Mô Tả</label>
                                    <textarea asp-for="Product.Description" class="form-control" placeholder="Nhập mô tả sản phẩm"></textarea>
                                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.ProcessPrice" class="control-label">Giá Gia Công</label>
                                    <input asp-for="Product.ProcessPrice" class="form-control" placeholder="Nhập giá gia công sản phẩm (nếu có)" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.ImportPrice" class="control-label">Giá Nhập</label>
                                    <input asp-for="Product.ImportPrice" class="form-control" placeholder="Nhập giá nhập sản phẩm" />
                                    <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.Quantity" class="control-label">Số Lượng</label>
                                    <input asp-for="Product.Quantity" class="form-control" />
                                    <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.Size" class="control-label">Kích Thước</label>
                                    <input asp-for="Product.Size" class="form-control" placeholder="Nhập kích thước sản phẩm" />
                                    <span asp-validation-for="Product.Size" class="text-danger"></span>
                                </div>
                           
                                <div class="form-group">
                                    <label asp-for="Product.PeriodWarranty" class="control-label">Thời Gian Bảo Hành</label>
                                    <input asp-for="Product.PeriodWarranty" class="form-control" placeholder="Thời gian bảo hành" />
                                    <span asp-validation-for="Product.PeriodWarranty" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Hình Ảnh Sản Phẩm</label>
                                    <input type="file" asp-for="Image" class="form-control-file" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.Tax" class="control-label">Thuế</label>
                                    <input asp-for="Product.Tax" class="form-control" placeholder="Thuế mặc định bằng 10% giá nhập" readonly />
                                </div>
                               
                                <div class="form-group">
                                    <label asp-for="Product.SellingPrice" class="control-label">Giá Bán</label>
                                    <input asp-for="Product.SellingPrice" class="form-control" placeholder="Giá bán = Giá nhập + Giá gia công + Thuế" readonly />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.CategoryId" class="control-label">Loại</label>
                                    <select asp-for="Product.CategoryId" class="form-control" asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))">
                                        <option value="">Chọn loại sản phẩm</option>
                                    </select>
                                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                                </div>
                          
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-gradient-primary">Thêm</button>
                            <a asp-page="./ListSubProduct" class="btn btn-gradient-light">Hủy</a>
                        </div>
                        <!-- Chất liệu -->
                        <div class="mb-3">
                            <label asp-for="Product.MaterialId" class="form-label">Chất Liệu</label>
                            <select asp-for="Product.MaterialId" class="form-select" asp-items="@(new SelectList(Model.MaterialList, "Id", "MaterialName"))">
                                <option value="">Select Material</option>
                            </select>
                            <span asp-validation-for="Product.MaterialId" class="text-danger"></span>
                        </div>
                        <!-- Mô tả sản phẩm -->
                        <div class="mb-3">
                            <label asp-for="Product.Description" class="form-label">Mô Tả</label>
                            <textarea asp-for="Product.Description" class="form-control" placeholder="Nhập mô tả, thông tin trang sức"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <!-- Hình ảnh sản phẩm -->
                        <div class="mb-3">
                            <label asp-for="Image" class="form-label">Hình Ảnh Trang Sức</label>
                            <input type="file" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <!-- Giá nhập vào -->
                        <div class="mb-3">
                            <label asp-for="Product.ImportPrice" class="form-label">Giá Nhập Vào</label>
                            <input asp-for="Product.ImportPrice" class="form-control" placeholder="Nhập giá nhập vào" />
                            <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
                        </div>
                        <!-- Kích thước sản phẩm -->
                        <div class="mb-3">
                            <label asp-for="Product.Size" class="form-label">Kích Thước (mm)</label>
                            <input asp-for="Product.Size" class="form-control" placeholder="Nhập kích thước trang sức (cm)" />
                            <span asp-validation-for="Product.Size" class="text-danger"></span>
                        </div>
                        <!-- Thuế -->
                        <div class="mb-3">
                            <label asp-for="Product.Tax" class="form-label">Thuế</label>
                            <input asp-for="Product.Tax" class="form-control" placeholder="Thuế mặc định bằng 10% giá nhập vào" readonly />
                        </div>
                        <!-- Giá gia công -->
                        <div class="mb-3">
                            <label asp-for="Product.ProcessPrice" class="form-label">Giá Gia Công</label>
                            <input asp-for="Product.ProcessPrice" class="form-control" placeholder="Nhập Giá Gia Công (Nếu Có)" />
                        </div>
                        <!-- Giá bán -->
                        <div class="mb-3">
                            <label asp-for="Product.SellingPrice" class="form-label">Giá Bán</label>
                            <input asp-for="Product.SellingPrice" class="form-control" placeholder="Nhập Giá Bán (Giá Bán = Giá nhập + Giá gia công + Thuế)" readonly />
                        </div>
                        <!-- Số lượng sản phẩm -->
                        <div class="mb-3">
                            <label asp-for="Product.Quantity" class="form-label">Số Lượng</label>
                            <input asp-for="Product.Quantity" class="form-control" />
                            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                        </div>
                        <!-- Loại sản phẩm -->
                        <div class="mb-3">
                            <label asp-for="Product.CategoryId" class="form-label">Loại</label>
                            <select asp-for="Product.CategoryId" class="form-select" asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))">
                                <option value="">Select Category</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
              
                @*         <div class="mb-3" >
                            <label asp-for="Product.SubId" class="form-label"> SubId</label>
                            <input asp-for="Product.SubId" class="form-control"  />
                            <span asp-validation-for="Product.SubId" class="text-danger"></span>
                        </div> *@
                  
                        <div class="mb-3">
                            <label asp-for="Product.PeriodWarranty" class="form-label">Thời Lượng Bảo Hành (Tháng)</label>
                            <input asp-for="Product.PeriodWarranty" class="form-control" placeholder="Nhập Thời Gian Bảo Hành" />
                            <span asp-validation-for="Product.PeriodWarranty" class="text-danger"></span>
                        </div>
                        <!-- Nút thêm và hủy -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-gradient-primary me-2">Thêm</button>
                            <a asp-page="./ListSubProduct" class="btn btn-gradient-light btn-fw">Hủy</a>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
