@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Products.EditSubProductModel
@{
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Chỉnh sửa thông tin sản phẩm </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @*Thêm*@
            </ol>
        </nav>
    </div>
    <div class="row">
        <!-- Basic form -->
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">CẬP NHẬT TRANG SỨC</h4>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Product.ProductName" class="control-label">Tên</label>
                            <input asp-for="Product.ProductName" class="form-control" placeholder="Tên" />
                            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Code" class="control-label"></label>
                            <input asp-for="Product.Code" class="form-control" placeholder="Theo mẫu (XXXX0000)" />
                            <span asp-validation-for="Product.Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Description" class="control-label">Mô Tả</label>
                            <input asp-for="Product.Description" class="form-control" placeholder="Nhập mô tả, thông tin trang sức" />
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Hình Ảnh Trang Sức</label>
                            @if (!string.IsNullOrEmpty(Model.Product.ImgProduct))
                            {
                                <div>
                                    <img src="@Model.Product.ImgProduct" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
                                </div>
                            }
                            <input type="file" asp-for="Image" class="form-control-file" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.ImportPrice" class="control-label">Giá Nhập Vào</label>
                            <input asp-for="Product.ImportPrice" class="form-control" placeholder="Nhập giá nhập vào" />
                            <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Size" class="control-label">Kích Thước</label>
                            <input asp-for="Product.Size" class="form-control" placeholder="Nhập kích thước trang sức" />
                            <span asp-validation-for="Product.Size" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Tax" class="control-label">Thuế</label>
                            <input asp-for="Product.Tax" class="form-control" placeholder="Thuế mặc định bằng 10% giá nhập vào" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.ProcessPrice" class="control-label">Giá Gia Công</label>
                            <input asp-for="Product.ProcessPrice" class="form-control" placeholder="Nhập Giá Gia Công (Nếu Có)" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.SellingPrice" class="control-label">Giá Bán</label>
                            <input asp-for="Product.SellingPrice" class="form-control" placeholder="Nhập Giá Bán (Giá Bán = Giá nhập + Giá gia công + Thuế)" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Quantity" class="control-label">Số Lượng</label>
                            <input asp-for="Product.Quantity" class="form-control" />
                            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.CategoryId" class="control-label">Loại</label>
                            <select asp-for="Product.CategoryId" class="form-control" asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))">
                                <option value="">Select Category</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.DeflagChecked" class="control-label">Trạng thái</label>
                            <input type="checkbox" asp-for="Product.DeflagChecked" />
                            <span asp-validation-for="Product.DeflagChecked" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                        <label asp-for="Product.ProductMaterialId" class="control-label"></label>
                        <input asp-for="Product.ProductMaterialId" class="form-control" />
                        <span asp-validation-for="Product.ProductMaterialId" class="text-danger"></span>
                        </div> *@
                        <button type="submit" class="btn btn-gradient-primary me-2">Cập Nhật</button>
                        <a asp-page="./ListProduct" class="btn btn-gradient-light btn-fw">Hủy</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>