@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Discounts.AddDiscountModel
@{
}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thêm mới chiết khấu</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="DiscountRequest.OrderId" class="control-label">Mã hóa đơn</label>
                        <input asp-for="DiscountRequest.OrderId" class="form-control" placeholder="Nhập mã hóa đơn" />
                        <span asp-validation-for="DiscountRequest.OrderId" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountRequest.PercentDiscount" class="control-label">Phần trăm giảm giá</label>
                        <input asp-for="DiscountRequest.PercentDiscount" type="number" max="99999" class="form-control" placeholder="Nhập % giảm giá" />
                        <span asp-validation-for="DiscountRequest.PercentDiscount" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountRequest.Description" class="control-label">Mô tả</label>
                        <textarea style="height: 150px;" asp-for="DiscountRequest.Description" class="form-control" placeholder="Nhập mô tả" ></textarea>
                        <span asp-validation-for="DiscountRequest.Description" class="text-danger d-block mt-1"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="DiscountRequest.ConditionDiscount" class="control-label">Điều kiện giảm giá</label>
                        <input asp-for="DiscountRequest.ConditionDiscount" type="number" max="100" class="form-control" placeholder="Nhập điều kiện giảm giá" />
                        <span asp-validation-for="DiscountRequest.ConditionDiscount" class="text-danger d-block mt-1"></span>
                    </div> 
                    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <span class="text-danger d-block">@Model.ErrorMessage</span>
                    }

                    <div class="row mt-3">
                        <div class="col-sm-12 d-flex flex-row justify-content-start">
                            <a href="ListDiscount" class="btn btn-secondary me-3">

                                <i class="bi bi-arrow-left"></i>
                                <span>Trở về</span>
                            </a>
                            <button type="submit"  class="btn btn-primary ">
                                <i class="bi bi-pencil"></i>
                                <span>Lưu</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

