@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Discounts.DiscountDetailsModel
@{
    var discount = Model?.Discount;
}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin chiết khấu</h4>

                @if (Model?.Discount != null)
                {
                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-feather me-1"></i> Mã chiết khấu: </span>
                            <span> @discount?.Id</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-feather me-1"></i> Mã hóa đơn: </span>
                            <span> @discount?.OrderId</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold "><i class="bi bi-power me-1"></i> Trạng thái: </span>
                            @if (discount?.Status == "Pending")
                            {
                                <span class="badge badge-info">Chờ phản hồi</span>
                            }
                            @if (discount?.Status == "Accepted")
                            {
                                <span class="badge badge-success">Chấp nhận</span>
                            }
                            @if (discount?.Status == "Denied")
                            {
                                <span class="badge badge-danger">Từ chối</span>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-percent me-1"></i> Phần trăm giảm giá: </span>
                            <span>@discount?.PercentDiscount<span>%</span></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-card-text me-1"></i> Mô tả: </span>
                            <span>@discount?.Description</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-archive me-1"></i>Điều kiện giám giá: </span>
                            <span>@discount?.ConditionDiscount</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-tag me-1"></i> Phản hồi từ quản lý: </span>
                            <span><span>@discount?.Note</span></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div>
                            <span class="fw-bold"><i class="bi bi-calendar me-1"></i> Ngày chỉnh sửa: </span>
                            <span>@discount?.InsDate - @discount?.UpsDate</span>
                        </div>
                    </div>

                 
                    <div class="row">
                        <div class="col-sm-12 d-flex flex-row justify-content-start">
                            <a href="ListDiscount" class="btn btn-secondary me-3">

                                <i class="bi bi-arrow-left"></i>
                                <span>Trở về</span>
                            </a>
                            <a href="EditDiscount?discountId=@discount?.Id" class="btn btn-primary ">
                                <i class="bi bi-pencil"></i>
                                <span>Chỉnh sửa</span>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div>Chiết khấu bạn tìm không tồn tại.</div>
                }
            </div>
        </div>
    </div>
</div>

