@page
@using System.Security.Claims
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Discounts.EditDiscountModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var user = HttpContextAccessor?.HttpContext?.User;
    var userRole = user?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
@if (Model.DiscountRequest.Status != "Deined")
{
    <style>
        #reason-why-deined {
            display: none;
        }
    </style>
}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chỉnh sửa chiết khấu</h4>
                <form id="form-submit" class="forms-sample" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="DiscountRequest.Id" />
                    <div class="form-group">
                        <label asp-for="DiscountRequest.OrderId" class="control-label">Order Id</label>
                        <input asp-for="DiscountRequest.OrderId" class="form-control" placeholder="Enter order id" />
                        <span asp-validation-for="DiscountRequest.OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountRequest.ManagerId" class="control-label">Manager Id</label>
                        <input asp-for="DiscountRequest.ManagerId" class="form-control" placeholder="Enter manager id" />
                        <span asp-validation-for="DiscountRequest.ManagerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountRequest.PercentDiscount" class="control-label">Percent Discount</label>
                        <input asp-for="DiscountRequest.PercentDiscount" type="number" max="99999" class="form-control" placeholder="Enter PercentDiscount" />
                        <span asp-validation-for="DiscountRequest.PercentDiscount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountRequest.Description" class="control-label">Description</label>
                        <input asp-for="DiscountRequest.Description" class="form-control" placeholder="Enter Description" />
                        <span asp-validation-for="DiscountRequest.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DiscountRequest.ConditionDiscount" class="control-label">Condition Discount</label>
                        <input asp-for="DiscountRequest.ConditionDiscount" type="number" max="100" class="form-control" placeholder="Enter Condition Discount" />
                        <span asp-validation-for="DiscountRequest.ConditionDiscount" class="text-danger"></span>
                    </div>

                    @if (userRole == "Manager")
                    {
                        <div class="form-group">
                            <label asp-for="DiscountRequest.Status" class="control-label">Status</label> <br />
                            <input asp-for="DiscountRequest.Status" type="radio" value="Pending" onclick="showReason('false');" /> Pending
                            <input asp-for="DiscountRequest.Status" type="radio" value="Accepted" onclick="showReason('false');" class="ms-3" /> Accepted
                            <input asp-for="DiscountRequest.Status" type="radio" value="Denied" onclick="showReason('true');" class="ms-3" /> Denied<br />
                            <span asp-validation-for="DiscountRequest.Status" class="text-danger"></span>
                        </div>

                        <div class="form-group" id="reason-why-deined">
                            <label asp-for="DiscountRequest.Note" class="control-label">Reason why deined?</label>
                            <input id="reason-input" asp-for="DiscountRequest.Note" class="form-control" placeholder="Enter reason why deined" />
                            <span asp-validation-for="DiscountRequest.Note" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="DiscountRequest.Status" type="hidden" value="Pending" class="ms-3" />
                    }

                    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <span class="text-danger mb-3">@Model.ErrorMessage</span>
                    }

                    <div class="row">
                        <div class="col-sm-12 d-flex flex-row justify-content-start">
                            <a href="ListDiscount" class="btn btn-secondary me-3">

                                <i class="bi bi-arrow-left"></i>
                                <span>Trở về</span>
                            </a>
                            <button type="button" onclick="preSubmit();" class="btn btn-primary ">
                                <i class="bi bi-pencil"></i>
                                <span>Lưu</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function showReason(status) {
        var reason = document.getElementById("reason-why-deined");
        if (status === "true") {
            reason.style.display = "block";
        } else {
            reason.style.display = "none";
        }
    }

    function preSubmit() {
        var reason = document.getElementById("reason-why-deined");
        var input = document.getElementById("reason-input");
        var form = document.getElementById("form-submit");
        if (reason.style.display === "block" && input.value.trim() === "") {
            window.alert("Please enter reason to deined!");
        } else {
            form.submit();
        }
    }
</script>

