@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Materials.AddMaterialodel
@{
}
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*Thêm*@
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Thêm Chất Liệu Mới</h2>
                            <br/>
                            <form class="forms-sample" method="post">
                                <div class="form-group">
                                    <label asp-for="Material.MaterialName" class="control-label">Chất Liệu</label>
                                    <input asp-for="Material.MaterialName" class="form-control" placeholder="Nhập chất liệu" />
                                    <span asp-validation-for="Material.MaterialName" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-gradient-primary me-2">Thêm</button>
                                <a asp-page="./ListMaterials" class="btn btn-gradient-light btn-fw">Hủy</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>