@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.RateOfGold.UpdateGoldRateModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Cập nhật tỉ giá vàng</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">CẬP NHẬT TỈ GIÁ VÀNG</h4>
                        <form method="post">
                            <div class="form-group">
                                <label for="newRate">New Gold Rate</label>
                                <input type="number" step="0.01" class="form-control" id="newRate" name="NewRate" value="@Model.NewRate" required />
                            </div>
                            <button type="submit" class="btn btn-gradient-primary me-2">Cập Nhật</button>
                            <a asp-page="/Manager/Products/ListProduct" class="btn btn-gradient-light btn-fw">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
