@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Warranty.UpdateWarrantyModel
@{
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Bảo hành</h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Warranty.ProductName" class="control-label">Sản phẩm</label>
                                <input asp-for="Warranty.ProductName" class="form-control" readonly />
                                <span asp-validation-for="Warranty.ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty.DateOfPurchase" class="control-label">Ngày mua hàng</label>
                                <input asp-for="Warranty.DateOfPurchase" class="form-control" readonly />
                                <span asp-validation-for="Warranty.DateOfPurchase" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty.ExpirationDate" class="control-label">Hạn bảo hành</label>
                                <input asp-for="Warranty.ExpirationDate" class="form-control" readonly />
                                <span asp-validation-for="Warranty.ExpirationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty.Period" class="control-label">Thời gian bảo hành</label>
                                <input asp-for="Warranty.Period" class="form-control" readonly />
                                <span asp-validation-for="Warranty.Period" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty.Phone" class="control-label">Số điện thoại</label>
                                <input asp-for="Warranty.Phone" class="form-control" readonly />
                                <span asp-validation-for="Warranty.Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty.OrderDetailId" class="control-label">Mã chi tiết đơn hàng</label>
                                <input asp-for="Warranty.OrderDetailId" class="form-control" readonly />
                                <span asp-validation-for="Warranty.OrderDetailId" class="text-danger"></span>
                            </div>
                            @if (Model.IsExpired)
                            {
                                <div class="form-group">
                                    <label asp-for="Warranty.Status" class="control-label">Trạng thái</label>
                                    <input asp-for="Warranty.Status" class="form-control" value="Expired" readonly />
                                    <span asp-validation-for="Warranty.Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Warranty.Note" class="control-label">Ghi chú</label>
                                    <textarea asp-for="Warranty.Note" class="form-control" readonly>Đã quá thời hạn được bảo hành</textarea>
                                    <span asp-validation-for="Warranty.Note" class="text-danger"></span>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label asp-for="Warranty.Status" class="control-label">Trạng thái</label>
                                    <select asp-for="Warranty.Status" class="form-control">
                                        <option value="Finish for Warranty">Hoàn thành bảo hành</option>
                                        <option value="Valid for Warranty">Được phép bảo hành</option>
                                        <option value="Invalid for Warranty">Không được phép bảo hành</option>
                                    </select>
                                    <span asp-validation-for="Warranty.Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Warranty.Note" class="control-label">Ghi chú</label>
                                    <textarea asp-for="Warranty.Note" class="form-control"></textarea>
                                    <span asp-validation-for="Warranty.Note" class="text-danger"></span>
                                </div>
                            }
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <a asp-page="./ListWarranty" class="btn btn-secondary">Quay lại</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
