@page
@model CreateAccountModel
@{
}
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Thêm tài khoản </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*Thêm*@
                    </ol>
                </nav>
            </div>
            <div class="row">
                <!-- Basic form -->
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Thêm Tài Khoản Mới</h4>
                            <form class="forms-sample" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="Account.FullName" class="control-label">Họ Tên</label>
                                    <input asp-for="Account.FullName" class="form-control" placeholder="Nhập tên" />
                                    <span asp-validation-for="Account.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Account.Phone" class="control-label"></label>
                                    <input asp-for="Account.Phone" class="form-control" placeholder="Nhập số điện thoại" />
                                    <span asp-validation-for="Account.Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Account.Dob" class="control-label">Ngày tháng năm sinh</label>
                                    <input asp-for="Account.Dob" class="form-control" />
                                    <span asp-validation-for="Account.Dob" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Hình Ảnh Đại Diện</label>
                                    <input type="file" asp-for="Image" class="form-control-file" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Account.Password" class="control-label">Mật khẩu</label>
                                    <input asp-for="Account.Password" type="password" class="form-control" />
                                    <span asp-validation-for="Account.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Account.Address" class="control-label">Địa chỉ</label>
                                    <input asp-for="Account.Address" class="form-control" placeholder="Nhập địa chỉ" />
                                    <span asp-validation-for="Account.Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Account.RoleId" class="control-label">Chức vụ</label>
                                    <select asp-for="Account.RoleId" class="form-control" asp-items="@(new SelectList(Model.RoleList, "Id", "RoleName"))">
                                        <option value="">Xếp chức vụ</option>
                                    </select>
                                    <span asp-validation-for="Account.RoleId" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-gradient-primary me-2">Thêm</button>
                                <a asp-page="./ListAccount" class="btn btn-gradient-light btn-fw">Hủy</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>