@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Promotions.EditPromotionModel
@{
    var partNumber = 0;
    var maxParts = Model.ProductParts.Count;
}

<style>
    .form-check-input {
        border: 0.5px solid;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">

        @if (Model.EditPromotionRequest != null)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chỉnh sửa khuyến mãi</h4>
                    <form id="form-submit" class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="EditPromotionRequest.Id" class="form-control" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.PromotionName" class="control-label">Tiêu đề khuyến mãi</label>
                            <input asp-for="EditPromotionRequest.PromotionName" class="form-control" placeholder="Nhập tiêu đề khuyến mãi" />
                            <span asp-validation-for="EditPromotionRequest.PromotionName" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Type" class="control-label">Loại khuyến mãi</label>
                            <select asp-for="EditPromotionRequest.Type" class="form-select" placeholder="Chọn loại khuyến mãi">
                                <option value="Product">Product</option>
                            </select>
                            <span asp-validation-for="EditPromotionRequest.Type" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Description" class="control-label">Mô tả</label>
                            <textarea style="height: 150px;" asp-for="EditPromotionRequest.Description" class="form-control" placeholder="Nhập mô tả khuyến mãi"></textarea>
                            <span asp-validation-for="EditPromotionRequest.Description" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group d-none">
                            <label asp-for="EditPromotionRequest.ProductQuantity" class="control-label">Số lượng sản phẩm</label>
                            <input asp-for="EditPromotionRequest.ProductQuantity" type="number" max="99999" class="form-control" placeholder="Nhập số lượng sản phẩm" />
                            <span asp-validation-for="EditPromotionRequest.ProductQuantity" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Percentage" class="control-label">Phần trăm khuyến mãi</label>
                            <input asp-for="EditPromotionRequest.Percentage" type="number" min="1" max="100" class="form-control" placeholder="Nhập phần trăm khuyến mãi" />
                            <span asp-validation-for="EditPromotionRequest.Percentage" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.StartDate" class="control-label">Ngày bắt đầu</label>
                            <input asp-for="EditPromotionRequest.StartDate" type="date" readonly class="form-control" id="startDate" />
                            <span asp-validation-for="EditPromotionRequest.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.EndDate" class="control-label">Ngày kết thúc</label>
                            <input asp-for="EditPromotionRequest.EndDate" type="datetime-local" class="form-control" placeholder="Chọn ngày kết thúc" id="endDate" />
                            <span asp-validation-for="EditPromotionRequest.EndDate" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label fw-bold">Chọn sản phẩm để sử dụng khuyến mãi</label> <br />
                            @if (Model?.Products != null)
                            {
                                @foreach (var part in Model.ProductParts)
                                {
                                    <div id="part-@partNumber" class="row @(partNumber++ != 0 ? "d-none" : "")">
                                        @foreach (var item in part)
                                        {
                                            <div class="col-sm-12 col-lg-4">
                                                <input @(Model.Groups.Any(x => x.ProductId == item.Id) ? "checked" : "") type="checkbox" name="ProductId" value="@item.Id" class="form-check-input" />
                                                <span class="ms-2">@item.ProductName</span>
                                            </div>
                                        }
                                        <input type="hidden" asp-for="EditPromotionRequest.ProductJson" id="product-json" />
                                    </div>
                                }
                                <input id="part-index" value="1" type="hidden" />
                                <a class="mt-2" id="show-more-button" href="#part-index" onclick="showMore('@maxParts')">Hiện thị thêm</a>
                            }


                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex flex-row justify-content-start">
                                <a href="ListPromotion" class="btn btn-secondary me-3">

                                    <i class="bi bi-arrow-left"></i>
                                    <span>Trở về</span>
                                </a>
                                <button type="button" onclick="preSubmit();" class="btn btn-primary ">
                                    <i class="bi bi-pencil"></i>
                                    <span>Lưu</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div>
                Không tìm thấy thông tin khuyến mãi.
            </div>
        }

    </div>
</div>

<script>
    
    function preSubmit() {
        var productIds = document.getElementsByName('ProductId');
        var listProduct = "";

        for (var i = 0; i < productIds.length; i++) {
            if (productIds[i].checked) {
                listProduct += productIds[i].value + " ";
            }
        }
        console.log(listProduct);
        document.getElementById('product-json').value = listProduct.trim();
        if (listProduct.trim() === "") {
            window.alert("Hãy chọn ít nhất 1 sản phẩm");
            return;
        };
        var startDate = new Date(document.getElementById('startDate').value);
        var endDate = new Date(document.getElementById('endDate').value);

        if (endDate < startDate) {
            window.alert("Ngày kết thúc phải lớn hơn hoặc bằng ngày bắt đầu.");
            return;
        }
        document.getElementById('form-submit').submit();


    }

    function showMore(maxParts) {
        var currentPartIndex = document.getElementById("part-index");
        var partIndex = parseInt(currentPartIndex.value);
        if (partIndex < parseInt(maxParts)) {
            var part = document.getElementById("part-" + partIndex);
            part.className = "row";
            currentPartIndex.value = partIndex + 1;
        } else {
            document.getElementById("show-more-button").style.display = "none";
        }
    }
</script>
