@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Promotions.EditPromotionModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">

        @if (Model.EditPromotionRequest != null)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chỉnh sửa khuyến mãi</h4>
                    <form id="form-submit" class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="EditPromotionRequest.Id" class="form-control" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.PromotionName" class="control-label">PromotionName</label>
                            <input asp-for="EditPromotionRequest.PromotionName" class="form-control" placeholder="Promotion Name" />
                            <span asp-validation-for="EditPromotionRequest.PromotionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.PromotionName" class="control-label">PromotionName</label>
                            <input asp-for="EditPromotionRequest.PromotionName" class="form-control" placeholder="Promotion Name" />
                            <span asp-validation-for="EditPromotionRequest.PromotionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Type" class="control-label">Type</label>
                            <input asp-for="EditPromotionRequest.Type" class="form-control" placeholder="Enter Type" />
                            <span asp-validation-for="EditPromotionRequest.Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Description" class="control-label">Description</label>
                            <input asp-for="EditPromotionRequest.Description" class="form-control" placeholder="Enter Description" />
                            <span asp-validation-for="EditPromotionRequest.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.ProductQuantity" class="control-label">Product Quantity</label>
                            <input asp-for="EditPromotionRequest.ProductQuantity" type="number" max="99999" class="form-control" placeholder="Enter Product Quantity" />
                            <span asp-validation-for="EditPromotionRequest.ProductQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Percentage" class="control-label">Percentage</label>
                            <input asp-for="EditPromotionRequest.Percentage" type="number" max="100" class="form-control" placeholder="Enter Percentage" />
                            <span asp-validation-for="EditPromotionRequest.Percentage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.StartDate" class="control-label">Start Date</label>
                            <input asp-for="EditPromotionRequest.StartDate" type="datetime-local" class="form-control" placeholder="Enter Start Date" />
                            <span asp-validation-for="EditPromotionRequest.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.EndDate" class="control-label">End Date</label>
                            <input asp-for="EditPromotionRequest.EndDate" type="datetime-local" class="form-control" placeholder="Enter End Date" />
                            <span asp-validation-for="EditPromotionRequest.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EditPromotionRequest.Deflag" class="control-label">Deflag</label> <br />
                            <input asp-for="EditPromotionRequest.Deflag" type="radio" value="true" /> Hoạt động
                            <input asp-for="EditPromotionRequest.Deflag" type="radio" value="false" class="ms-3" /> Không hoạt động<br />
                            <span asp-validation-for="EditPromotionRequest.Deflag" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label fw-bold">Chọn sản phẩm để sử dụng khuyến mãi</label> <br />
                            <div class="row">
                                @foreach (var item in Model.Products)
                                {
                                    <div class="col-sm-12 col-lg-4">
                                        <input @(Model.Groups.Any(x => x.ProductId == item.Id) ? "checked" : "") type="checkbox" name="ProductId" value="@item.Id" class="form-checkbox" />
                                        <span class="ms-2">@item.ProductName</span>
                                    </div>
                                }
                                <input type="hidden" asp-for="EditPromotionRequest.ProductJson" id="product-json" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex flex-row justify-content-start">
                                <a href="ListPromotion" class="btn btn-secondary me-3">

                                    <i class="bi bi-arrow-left"></i>
                                    <span>Trở về</span>
                                </a>
                                <button type="button" onclick="preSubmit();" class="btn btn-primary ">
                                    <i class="bi bi-pencil"></i>
                                    <span>Lưu</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div>
                Không tìm thấy thông tin khuyến mãi.
            </div>
        }

    </div>
</div>

<script>

    function preSubmit() {
        var productIds = document.getElementsByName('ProductId');
        var listProduct = "";

        for (var i = 0; i < productIds.length; i++) {
            if (productIds[i].checked) {
                listProduct += productIds[i].value + " ";
            }
        }
        console.log(listProduct);
        document.getElementById('product-json').value = listProduct.trim();
        document.getElementById('form-submit').submit();


    }
</script>
